<%- include('../partials/header') %>
<h1>Add a Flight</h1>
<form id="add-flight" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Delta">Delta</option>
    <option value="JetBlue">JetBlue</option>
    <option value="United">United</option>
    <option value="Southwest">Southwest</option>
  </select>
  <label>Departs From:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    <option value="PDX">PDX</option>
    <option value="JFK">JFK</option>
    <option value="LGA">LGA</option>
  </select>
  <label>Flight Number:</label>
  <input type="number" name="flightNo">
  <label>Departure Time:</label>
  <input type="datetime-local" name="departure">
  <label>Booked?:</label>
  <input type="checkbox" name="booked" checked>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
